<html xmlns:th='http://www.thymleaf.org'>
<html>
<head>
<meta charset="UTF-8">
<!-- 나중에 logoutBtn 유효성 검사 -->
</head>
<body>
	<div th:if="${member} != null">
		<span>환영합니다! 당신의 아이디는 </span>
		<span th:text="${session.sessionId}"></span>
		<span>입니다.</span>
		<span id="myPageBtn"><a th:href="@{/myPage(sessionId=${session.sessionId})}"><button id="myPage">MY PAGE</button></a></span>
		<span id="logoutBtn"><a th:href="@{/logout}"><button id="logout">LOGOUT</button></a></span>
	</div>
	<div th:unless="${member} != null">
		<span>로그인 해주세요.</span>
		<span><a th:href="@{/login}"><button id="login">LOGIN</button></a></span><br>
		<span><a th:href="@{/memberAdd}"><button id="signup">SIGNUP</button></a></span>
	</div>
</body>
</html>